:root {
	--swiper-pagination-bottom: 0;

	--main-bg-color: #fff;
	--secondary-bg-color: #f5f5f5;
	--border-color: #d3d3d3;
	--text-color: #1e1e1e;
	--text-paragraph: rgb(85, 85, 85);
	--text-anchor: rgb(30, 30, 30);
	--text-anchor-hover: rgb(128, 128, 128);
	--btn-border-color: rgb(53, 53, 53);
	--btn-color-hover: rgb(255, 255, 255);
	--btn-bg-color-hover: rgb(53, 53, 53);
	--swiper-pagination-bullet: #171717;
	--swiper-pagination-bullet-active: rgb(30, 30, 30);
	--backTop-button-bg: #0000000a;

	.dark {
		--main-bg-color: #1e1e1e;
		--secondary-bg-color: #252525;
		--border-color: #404040;
		--text-color: #f5f5f5;
		--text-paragraph: rgb(210, 210, 210);
		--text-anchor: rgb(245, 245, 245);
		--text-anchor-hover: rgb(175, 175, 175);
		--btn-border-color: rgb(219, 219, 219);
		--btn-color-hover: rgb(30, 30, 30);
		--btn-bg-color-hover: rgb(219, 219, 219);
		--swiper-pagination-bullet: #f0f0f0;
		--swiper-pagination-bullet-active: rgb(229, 229, 229);
		--backTop-button-bg: #ffffff17;
	}
}
/* GENERAL */

lite-youtube {
	width: 100%;
	height: 100%;
	max-width: 100% !important;
	max-height: 100% !important;
}

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--main-bg-color);
	color: var(--text-color);

	background-image: url('../assets/main-bg.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;

	transition: background-color 0.3s ease;
}

html {
	scroll-behavior: smooth;
}

button {
	border: none;
	background: none;
}

p {
	color: var(--text-paragraph);
}

/* TRANSITION */

a,
.btn {
	transition: all 300ms ease;
}

#themeBtn {
	display: inline-flex;
	height: 24px;
	width: 24px;
	margin-top: 4px;
	opacity: 0.8;

	img {
		max-width: 100%;
		max-height: 100%;
	}

	&:hover {
		cursor: pointer;
	}
}
.dark {
	#themeBtn {
		filter: invert(0.95);
		opacity: 1;
	}
}

h2 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 2rem;

	@media screen and (max-width: 768px) {
		font-size: 2rem;
	}
}

.slider-block {
	margin-bottom: 150px;

	&:last-child {
		margin-bottom: 100px;
	}

	@media screen and (max-width: 1024px) {
		margin-bottom: 80px;

		&:last-child {
			margin-bottom: 20px;
		}
	}
}

/* DESKTOP-NAV */

#desktop-nav {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

nav,
.nav-links {
	display: flex;
}

nav {
	justify-content: space-between;
	align-items: center;
	padding: 2rem;

	@media screen and (max-width: 768px) {
		height: auto;
	}
}

.nav-links {
	gap: 2rem;
	list-style: none;
	font-size: 1.5rem;
}

a {
	color: var(--text-anchor);
	text-decoration: none;
	text-decoration-color: white;
}

a:hover {
	color: var(--text-anchor-hover);
	text-decoration: underline;
	text-underline-offset: 1rem;
	text-decoration-color: rgb(181, 181, 181);
}

.logo {
	font-size: 2rem;
}

.logo:hover {
	cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
	display: none;

	@media screen and (max-width: 768px) {
		display: flex;
		justify-content: space-between;
		padding: 24px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		backdrop-filter: blur(10px);
	}
}

.hamburger-menu {
	position: relative;
	display: inline-block;
}

.hamburger-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
	cursor: pointer;

	span {
		width: 100%;
		height: 2px;
		background-color: var(--text-color);
		transition: all 0.3 ease-in-out;

		&:first-child {
			transform: none;
		}
		&:first-child {
			opacity: 1;
		}
		&:first-child {
			transform: none;
		}
	}

	&.open {
		span {
			&:first-child {
				transform: rotate(45deg) translate(10px, 5px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				transform: rotate(-45deg) translate(10px, -5px);
			}
		}
	}
}

.menu-links {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: var(--main-bg-color);
	transition: all 0.15s ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	pointer-events: none;

	.hamburger-icon {
		position: absolute;
		right: 24px;
		top: 36px;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		li {
			text-align: center;
		}
	}
	#themeBtn {
		height: 40px;
		width: 40px;
		margin-top: 0;
		margin: 0 auto;
	}
	&.open {
		opacity: 1;
		pointer-events: all;
	}
}

.menu-links a {
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 2rem;
	color: var(--text-color);
	text-decoration: none;
	transition: all 0.3 ease-in-out;
}

.menu-links li {
	list-style: none;
}

/* SECTION */

section {
	position: relative;
	padding-top: 100px;
	min-height: 96vh;
	margin: 0 10rem;
	margin-bottom: 40px;
	box-sizing: border-box;
	min-height: fit-content;

	@media screen and (max-width: 1280px) {
		margin: 0 5rem;
	}
	@media screen and (max-width: 768px) {
		padding-top: 80px;
		margin: 0 40px;
	}
	@media screen and (max-width: 640px) {
		margin: 0 16px;
	}
}

.aos-animate {
	.anchor {
		top: 40px;
		@media screen and (max-width: 768px) {
			top: -48px;
		}
	}
}

.anchor {
	position: absolute;
	top: -30px;

	@media screen and (max-width: 768px) {
		top: -112px;
	}
}

.section-container {
	display: flex;
}

/* PROFILE SECTION */

#profile {
	display: flex;
	justify-content: center;
	gap: 5rem;
	// height: calc(100vh - 2rem - 48px - 100px);
	padding-top: 0;
	margin-bottom: 0;
	padding-top: 40px;

	h2 {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 1024px) {
		padding-top: 40px;
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding-top: calc(100px + 20px);
	}

	.section__pic-container {
		display: flex;
		flex-shrink: 0;
		height: 400px;
		width: 400px;
		margin: auto 0;
		border-radius: 50%;
		overflow: hidden;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		@media screen and (max-width: 1280px) {
			height: 280px;
			width: 280px;
		}
		@media screen and (max-width: 768px) {
			height: 200px;
			width: 200px;
			margin: 0;
		}
	}

	.socials-container {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		gap: 1rem;
		height: 2rem;

		@media screen and (max-width: 768px) {
			margin-top: 1rem;
		}
	}
}

.section__text {
	align-self: center;
	text-align: center;
}

.section__text p {
	font-weight: 600;
}

.section__text__p1 {
	text-align: center;

	@media screen and (max-width: 768px) {
		font-size: 0.9rem;
	}
}

.section__text__p2 {
	font-size: 1.7rem;
	margin-bottom: 1rem;

	@media screen and (max-width: 768px) {
		font-size: 1rem;
	}
}

/* ICONS */

.icon {
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	transition: opacity 0.3s ease;

	&.arrow {
		position: absolute;
		right: -5rem;
		bottom: 2.5rem;

		@media screen and (max-width: 1280px) {
			right: -3rem;
		}
		@media screen and (max-width: 768px) {
			right: -36px;
		}
		@media screen and (max-width: 640px) {
			right: -16px;
		}
	}

	&:hover {
		opacity: 0.6;
	}
}
.dark {
	.icon {
		filter: invert(0.94);

		&:hover {
			opacity: 0.8;
		}
	}
}

section.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 6rem;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.social-icons {
		margin-top: 4rem;
	}
	a {
		&.email {
			font-weight: 500;
		}
	}
}

.social-icons {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: auto;
	.icon {
		height: 2rem;
		img {
			max-height: 100%;
		}
	}
}

/* BUTTONS */

.btn {
	display: inline-block;
	font-weight: 600;
	transition: all 300ms ease;
	padding: 12px 24px;
	border-radius: 2rem;
	text-decoration: none !important;
	text-wrap: nowrap;

	&.btn-accent {
		border: var(--btn-border-color) 1px solid;

		&:hover {
			border: var(--btn-border-color) 1px solid;
			color: var(--btn-color-hover);
			background: var(--btn-bg-color-hover);
		}
	}
}

/* ABOUT SECTION */

section.about {
	position: relative;

	.section-container {
		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}

		.section__pic-container {
			@media screen and (max-width: 1024px) {
				margin-top: 2rem;
			}
			@media screen and (max-width: 768px) {
				margin-top: 0;
			}

			img {
				border-radius: 50%;
			}
		}
	}

	.about-containers {
		display: flex;
		gap: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;

		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
	}

	.about-details-container {
		justify-content: center;
		flex-direction: column;
	}
}

.details-container {
	padding: 1.5rem;
	flex: 1;
	border-radius: 2rem;
	border: rgb(53, 53, 53) 0.1rem solid;
	border-color: rgb(163, 163, 163);
	text-align: center;

	.icon {
		&:hover {
			cursor: default;
			opacity: 1;
		}
	}
}

.section-container {
	gap: 4rem;
	height: 80%;
}

.section__pic-container {
	display: flex;
	flex-shrink: 0;
	height: 400px;
	width: 400px;
	margin: auto 0;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	@media screen and (max-width: 1280px) {
		height: 300px;
		width: 300px;
	}
}

/* EXPERIENCE SECTION */

section.experience {
	position: relative;

	.details-container {
		h2 {
			color: var(--text-paragraph);
			font-weight: 600;
			font-size: 1.75rem;
			margin-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 1.5rem;
			}
		}
	}

	.about-containers {
		display: flex;
		gap: 2rem;
		@media screen and (max-width: 1280px) {
			flex-direction: column;
		}
		@media screen and (max-width: 768px) {
			// flex-direction: column;
		}
	}

	.experience-details-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	ul.article-container {
		display: flex;
		text-align: initial;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 1rem;
		justify-content: space-between;

		li {
			display: flex;
			width: calc(50% - 0.5rem);
			justify-content: start;
			gap: 0.5rem;

			@media screen and (max-width: 1280px) {
				width: 30%;
			}
			@media screen and (max-width: 1024px) {
				width: 30%;
			}
			@media screen and (max-width: 768px) {
				width: calc(50% - 0.5rem);
			}
			@media screen and (max-width: 640px) {
				width: 100%;
			}

			h3 {
				@media screen and (max-width: 640px) {
					font-size: 1.25rem;
				}
			}

			.icon {
				cursor: default;
			}
		}
	}
}

/* PROJECTS SECTION */

section.projects {
	margin: 0;
	height: auto;
	padding-top: 60px;

	@media screen and (max-width: 768px) {
		padding-top: 40px;
	}

	.arrow {
		right: 5rem;
		bottom: 0;

		@media screen and (max-width: 1280px) {
			right: 2rem;
		}
		@media screen and (max-width: 768px) {
			right: 4px;
		}
		@media screen and (max-width: 640px) {
			right: 0px;
		}
	}
}

/* projects-list */
ul.projects-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		gap: 1.5rem;
	}
	.card {
		width: calc(50% - 1rem);
		display: flex;
		flex-direction: column;
		background: var(--secondary-bg-color);
		border: 1px solid var(--border-color);
		border-radius: 0.5rem;

		@media screen and (max-width: 1024px) {
			width: 100%;
		}

		.card-image {
			overflow: hidden;
			background: #ccc;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
			width: 100%;
			height: 400px;

			transition: opacity 0.15s ease;

			@media screen and (max-width: 768px) {
				height: 300px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			&:hover {
				cursor: zoom-in;
				opacity: 0.75;
			}

			&__full {
				position: fixed;
				inset: 0;
				z-index: 999;
				background: rgba(0, 0, 0, 0.2);
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: auto;
					height: 80vh;
				}
			}
		}
		.card-footer {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 2rem 1.5rem;

			@media screen and (max-width: 640px) {
				padding: 1.25rem 1rem;
			}

			.card-link {
				font-size: 1.85rem;
				font-weight: normal;

				img {
					width: 18px;
					height: auto;

					transition: opacity 0.35s ease;
				}

				&:hover {
					img {
						opacity: 0.8;
					}
				}

				@media screen and (max-width: 1024px) {
					font-size: 1.5rem;
				}
				@media screen and (max-width: 640px) {
					font-size: 1.25rem;
				}
			}
		}
	}
}

ul.badges {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	list-style: none;
	li {
		font-size: 0.85rem;
		display: flex;
		padding: 0.25rem 1rem;
		border: 1px solid var(--btn-border-color);
		border-radius: 4rem;

		@media screen and (max-width: 640px) {
			font-size: 0.7rem;
			padding: 0.2rem 0.5rem;
		}
	}
}

// MODAL
#modal {
	position: fixed;
	inset: 0;
	opacity: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

	transition: opacity 0.5s ease;

	.backdrop {
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.8);
	}

	.modal-content {
		z-index: 1;

		.modal-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-width: 95vw;
				max-height: calc(95vh - 1.9rem);
				width: auto;
				height: auto;
			}
			a.open-original {
				position: absolute;
				right: 0;
				bottom: -1.7rem;
				background: var(--main-bg-color);
				text-decoration: none;
				padding: 0 4px;
				opacity: 0.75;

				img {
					width: 12px;
					height: auto;
				}
			}
		}
	}

	&.open {
		opacity: 1;
		pointer-events: all;
	}
}
.modal-trigger {
	& * {
		pointer-events: none;
	}
}
.modal-inject {
	display: none;
}

// BACK TO TOP
#backToTop {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 65px;
	height: 65px;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--backTop-button-bg);

	opacity: 0;
	pointer-events: none;

	transition: opacity 0.5s ease, background-color 0.35s ease;

	&:hover {
		cursor: pointer;
		background-color: #ffffff0a;
	}

	img {
		margin-top: -3px;
		transform: rotate(180deg);
		opacity: 0.7;
	}

	@media screen and (max-width: 640px) {
		left: 8px;
		bottom: 8px;
		width: 40px;
		height: 40px;
	}

	&.show {
		opacity: 1;
		pointer-events: all;
	}
}

/** ACCORDION */
.accordion-wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@media screen and (max-width: 1024px) {
		gap: 20px;
	}
}
.accordion-item {
	display: flex;
	flex-direction: column;
}
.accordion-item-header {
	position: relative;
	background-color: #ccc;
	padding-left: 48px;
	height: 110px;
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	overflow: hidden;
	background-size: 435px, cover;
	background-position: left, center;
	background-repeat: no-repeat;

	transition: border-radius 0.35s ease 0.1s, filter 0.35s ease;

	@media screen and (max-width: 1024px) {
		padding-left: 24px;
		height: 90px;
		background-size: 340px 90px, cover;
	}
	@media screen and (max-width: 840px) {
		height: 80px;
		background-size: 300px 90px, cover;
	}
}
.accordion-header-gradient {
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 10%,
		rgba(43, 43, 43, 1) 100%
	);

	opacity: 0;

	transition: opacity 0.35s ease;
}
.accordion-item.active {
	.accordion-header-gradient {
		opacity: 1;
	}
	.accordion-item-header {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		transition: filter 0.35s ease;
	}
	.accordion-item-body {
		// transition-delay: 0.25s;
		transition-delay: unset;
		transition: max-height 2s ease-out;
	}
}

.accordion-item-header:hover {
	filter: grayscale(1);
	cursor: pointer;
}
.accordion-item-title {
	color: #1e1e1e;
	font-weight: 700;
	font-size: 46px;
	padding-right: 94px;

	@media screen and (max-width: 1280px) {
		font-size: 32px;
		padding-right: 64px;
	}
	@media screen and (max-width: 1024px) {
		padding-right: 24px;
	}
	@media screen and (max-width: 840px) {
		font-size: 28px;
		text-align: right;
		padding-left: 16px;
		line-height: 32px;
	}
}
.accordion-item-title-logo {
	max-width: 303px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-items: center;
	padding: 20px 0;

	img {
		object-fit: contain;
		max-width: 100%;
		max-height: 100%;
	}

	@media screen and (max-width: 840px) {
		max-width: 150px;
	}
}
.accordion-item-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.35s ease-out;
	transition-delay: unset;
}
.accordion-item-body-content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 48px (calc(calc(100% - 1100px) / 2)) 120px
		(calc(calc(100% - 1100px) / 2));
	font-weight: 600;
	font-size: 24px;
	text-align: justify;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;

	background-color: #2b2b2b;

	@media screen and (max-width: 1490px) {
		padding-left: 48px;
		padding-right: 48px;
	}
	@media screen and (max-width: 840px) {
		padding-top: 32px;
		gap: 24px;
		padding-bottom: 48px;
		font-size: 20px;
	}
}

.accordion-media {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-self: center;
}
.accordion-video {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1100px;
	height: 630px;
	border-radius: 24px;
	// background-color: #fbff00;
	overflow: hidden;

	video {
		max-width: 100%;
		max-height: 100%;
		border-radius: 24px;
	}

	@media screen and (max-width: 1200px) {
		width: 100%;
		height: auto;
	}
}
.accordion-item-arrow {
	text-align: center;
	margin-top: 18px;
	&:hover {
		opacity: 0.75;
		transition: opacity 0.35s ease;
		cursor: pointer;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}

	@media screen and (max-width: 840px) {
		height: 24px;
	}
}
