.swiper {
	max-width: 1200px;
	margin: 0 auto;
	// width: 600px;
	// height: 300px;
}
.swiper-wrapper {
}
.swiper-slide {
	background: #ccc;
	border-radius: 24px;
	max-height: 500px;
	height: 100%;

	overflow-y: scroll;
}
.slide-content {
	padding: 0 20px;
}
