<section class="contact" data-aos="fade-up" data-aos-offset="150">
	<div id="contact" class="anchor"></div>

	<div class="container">
		<h2>Contact Me</h2>
		<a
			href="mailto:maxvulchyn@protonmail.com"
			target="_blank"
			class="email"
		>
			maxvulchyn@protonmail.com
		</a>
		<div class="social-icons">
			<a
				class="icon"
				href="https://t.me/gonzoshrimp"
				target="_blank"
				title="Telegram"
			>
				<img
					src="assets/social/telegram.png"
					alt="Telegram"
					width="100%"
					height="100%"
				/>
			</a>
			<a
				class="icon"
				href="https://linkedin.com/in/maksymvulchyn"
				target="_blank"
				title="LinkedIn"
			>
				<img
					src="assets/social/linkedin.png"
					alt="Linkedin"
					width="100%"
					height="100%"
				/>
			</a>
			<a
				class="icon"
				href="https://www.behance.net/maxvulchyn"
				target="_blank"
				title="Behance"
			>
				<img
					src="assets/social/behance-logo-0DC7CB7635-seeklogo.com.png"
					alt="Behance"
					width="100%"
					height="100%"
				/>
			</a>
		</div>
	</div>
</section>
