<section class="projects_2" data-aos="fade-up" data-aos-offset="150">
	<div id="projects_2" class="anchor"></div>
	<h2>Recent Projects</h2>
	<ul class="projects-list">
		<li class="card">
			<div class="card-image modal-trigger" >
				<img src="assets/lynix.jpg" alt="" />
			</div>
			<div class="modal-inject">
				<div class="modal-img">
					<img data-src="assets/lynix.jpg" class="lazyload" />
					<a class="open-original" href="./assets/lynix.jpg" target="_blank">
						Open original
						<img src="./assets/external-link.png" class="icon" />
					</a>
				</div>
			</div>
			<div class="card-footer">
				<ul class="badges">
					<li>Figma</li>
					<li>Adobe Photoshop</li>
				</ul>
				<a
					class="card-link"
					href="https://www.behance.net/gallery/201723961/Crypto-Wallet-App-Design-(concept)"
					target="_blank"
				>
					Lynix (Crypto Wallet) App Design
					<img src="./assets/external-link.png" class="icon" />
				</a>
			</div>
		</li>
		<li class="card">
			<div class="card-image modal-trigger" >
				<img src="assets/tea_prev.jpg" alt="" />
			</div>
			<div class="modal-inject">
				<div class="modal-img">
					<img data-src="assets/tea.jpg" class="lazyload" />
					<a class="open-original" href="./assets/tea.jpg" target="_blank">
						Open original
						<img src="./assets/external-link.png" class="icon" />
					</a>
				</div>
			</div>
			<div class="card-footer">
				<ul class="badges">
					<li>Figma</li>
					<li>Adobe Photoshop</li>
					<li>DALL-E 3</li>
				</ul>
				<h3 class="card-link">TEA Crypto Social Content design</h3>
			</div>
		</li>

		<li class="card">
			<div class="card-image modal-trigger" >
				<img src="./assets/jadeprev.jpg" alt="" />
			</div>
			<div class="modal-inject">
				<div class="modal-img">
					<img data-src="assets/jade.jpg" class="lazyload" />
					<a class="open-original" href="./assets/jade.jpg" target="_blank">
						Open original
						<img src="./assets/external-link.png" class="icon" />
					</a>
				</div>
			</div>
			<div class="card-footer">
				<ul class="badges">
					<li>Figma</li>
					<li>Adobe Photoshop</li>
					<li>Midjourney</li>
				</ul>
				<h3 class="card-link">
					NFT Project Marketing Visuals For Social Media
				</h3>
			</div>
		</li>

		<li class="card">
			<div class="card-image modal-trigger" >
				<img src="./assets/bibaprev.jpg" alt="" />
			</div>
			<div class="modal-inject">
				<div class="modal-img">
					<img data-src="./assets/biba.jpg" class="lazyload" />
					<a class="open-original" href="./assets/biba.jpg" target="_blank">
						Open original
						<img src="./assets/external-link.png" class="icon" />
					</a>
				</div>
			</div>
			<div class="card-footer">
				<ul class="badges">
					<li>Figma</li>
					<li>Adobe Photoshop</li>
				</ul>
				<h3 class="card-link">Digital Marketing Agency Instagram Posts</h3>
			</div>
		</li>
	</ul>
	<img
		src="assets/arrow.png"
		alt="Arrow icon"
		class="icon arrow"
		onclick="location.href='#about'"
		width="100%"
		height="100%"
	/>
</section>
