<section class="selected-projects" data-aos="fade-up" data-aos-offset="150">
	<div id="selected-projects" class="anchor"></div>
	<p class="section__text__p1">Browse My</p>
	<h2>My selected projects</h2>

	<div class="accordion-wrapper">
		<div class="accordion-item">
			<div
				class="accordion-item-header"
				style="
					background-image: url('assets/selected-projects/case-bg-yellow.jpg');
				"
			>
				<div class="accordion-item-title-logo">
					<img src="assets/selected-projects/logo-jpool.png" alt="logo" />
				</div>
				<div class="accordion-item-title">LOGO ANIMATION</div>
				<div class="accordion-header-gradient"></div>
			</div>
			<div class="accordion-item-body">
				<div class="accordion-item-body-content">
					<p>
						JPOOL is a liquid staking platform, so it made perfect sense to
						me that the animation should reflect that —smooth, fluid, and
						seamless. It should feel as liquid as possible, right down to
						the sound effects.
					</p>
					<div class="accordion-media">
						<div class="accordion-video">
							<video
								class="lazyload"
								data-src="assets/selected-projects/Jpool_logo_outro.mp4"
								loop
								autoplay
								muted
								playsinline
								controls
							/>
						</div>
						<div class="accordion-video">
							<video
								class="lazyload"
								data-src="assets/selected-projects/Jpool_logo_solo_black.mp4"
								loop
								autoplay
								muted
								playsinline
								controls
							/>
						</div>
					</div>
				</div>
				<div class="accordion-item-arrow">
					<img
						src="assets/selected-projects/icon-close.png"
						alt="close-button"
					/>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div
				class="accordion-item-header"
				style="
					background-image: url('assets/selected-projects/case-bg-pink.jpg');
				"
			>
				<div class="accordion-item-title-logo">
					<img
						src="assets/selected-projects/logo-code-store.png"
						alt="logo"
					/>
				</div>
				<div class="accordion-item-title">TWIPE DOCUMENTARY</div>
				<div class="accordion-header-gradient"></div>
			</div>
			<div class="accordion-item-body">
				<div class="accordion-item-body-content"></div>
				<div class="accordion-item-arrow">
					<img
						src="assets/selected-projects/icon-close.png"
						alt="close-button"
					/>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div
				class="accordion-item-header"
				style="
					background-image: url('assets/selected-projects/case-bg-purple.jpg');
				"
			>
				<div class="accordion-item-title-logo">
					<img src="assets/selected-projects/logo-dubidoc.png" alt="logo" />
				</div>
				<div class="accordion-item-title">SHORT VIDEO PROMO</div>
				<div class="accordion-header-gradient"></div>
			</div>
			<div class="accordion-item-body">
				<div class="accordion-item-body-content"></div>
				<div class="accordion-item-arrow">
					<img
						src="assets/selected-projects/icon-close.png"
						alt="close-button"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
