---
import BaseLayout from '../layouts/BaseLayout.astro'
import Projects from '../components/Projects.astro'
---

<BaseLayout>
	<h1>Моё портфолио</h1>
	<Projects />
</BaseLayout>

<script>
import '../scripts/main.js'
</script>
