<nav id="desktop-nav">
	<div class="logo" data-aos="fade-bottom" data-aos-duration="2000">
		Maksym Vulchyn
	</div>
	<div data-aos="fade-bottom" data-aos-duration="2000">
		<ul class="nav-links">
			<li><a href="#about">About</a></li>
			<li><a href="#experience">Skills</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#contact">Contact</a></li>
			<!-- <li>
				<button
					title="Toggle Theme"
					type="button"
					id="themeBtn"
					onclick="toggleThemeHandler()"
				>
					<img
						width="100%"
						height="100%"
						src="assets/brightness.png"
						alt="theme"
					/>
				</button>
			</li> -->
		</ul>
	</div>
</nav>
