<nav id="hamburger-nav">
	<div class="logo">Maksym Vulchyn</div>
	<div class="hamburger-menu">
		<div class="hamburger-icon" onclick="toggleMenu()">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</nav>
<div class="menu-links">
	<div class="hamburger-icon" onclick="toggleMenu()">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<ul>
		<li><a href="#about" onclick="toggleMenu()">About</a></li>
		<li><a href="#experience" onclick="toggleMenu()">Skills</a></li>
		<li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
		<li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
		<!-- <li>
			<button
				title="Toggle Theme"
				type="button"
				id="themeBtn"
				onclick="toggleThemeHandler()"
			>
				<img
					width="100%"
					height="100%"
					src="assets/brightness.png"
					alt="theme"
				/>
			</button>
		</li> -->
	</ul>
</div>
